* {
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
}

.nav-menu {
    width: 100%;
    height:50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;

    .nav-menu-lista {
        position: absolute;
        list-style: none;
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        width: 400px;
        align-items: center;
        margin: 10px;

        li {
            padding: 5px;
        }
    }
}


.carousel-inner {
    max-height:35rem ;

    .carousel-item {
        position: relative;

        img {
            max-height:35rem ;
            object-fit: cover;
        }
    }

}

.div-contenedor {
    width: 100%;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(50px 300px 30px);
}

.div-contenedor-submenu {
grid-column: 2/3;
grid-row: 1/2;
width:100%;
display:flex;
height: 100%;
justify-content: space-between;
align-items:center;

    li {
        text-decoration: none;
        list-style: none;
    }

}

.producto1{
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
    
    img {
        width: 50%;
    }
    
    .btn-cart {
        border-radius: 8px;
        padding: 3px;
        background-color: black;
        color: white;
    }
}

.producto2 {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
    
    img {
        width: 50%;
    }
    
    .btn-cart {
        border-radius: 8px;
        padding: 3px;
        background-color: black;
        color: white;
    }
}

.producto3 {
    grid-column: 3/4;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
    img {
        width: 50%;
    }
    
    .btn-cart {
        border-radius: 8px;
        padding: 3px;
        background-color: black;
        color: white;
    }
}

.dv-img-producto {
    display: flex;
    justify-content: center;
}

.product-item-details {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}


.carrito {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;

    .imagenCarrito {
        width: 100px
    }
}